* {
  margin: 0%;
  padding: 0%;
}

.overall {
  background-color: rgba(248, 249, 251, 255);
  background-size: cover;
  height: 85vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}

header img {
  height: 5vh;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

form input {
  width: 35vw;
  height: 2.5vw;
  background-color: #f8f9fb;
  border: 1px solid #635d5d;
  border-radius: 30px;
  padding-left: 50px;
}

form i {
  position: relative;
  left: 30px;
}

.circle {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.text {
  margin-left: 5px;
  margin-bottom: -24px;
  text-size-adjust: 30px;
  color: white;
}

.circle2 {
  background-color: rgba(159, 54, 236, 255);
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: relative;
  bottom: 2px;
  left: 19px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 7vh;
  background-color: rgba(255, 255, 255, 255);
}

.details {
  display: flex;
  justify-content: space-around;
  width: 87vw;
}

.details a {
  text-decoration: none;
  color: black;
  font-size: larger;
}

.third {
  display: flex;
  justify-content: space-around;
  height: 78vh;
  align-items: center;
}

.head1 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(255, 255, 255, 255);
  height: 25vh;
  width: 25vw;
  position: relative;
  right: 50px;
  bottom: 90px;
}

.text1 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 25px;
  font-size: 18px;
  line-height: 33px;


}
.text1 h1 {
  font-weight: bolder;
  font-size: 28px;
}

.text1 p {
}

.imgh {
  width: 39vw;
}

.imgh img {
  width: 33vw;
  height: 58vh;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 97vw;
  position: relative;
  left: 20px;
  height: 8vh;
}

footer h1 {
  position: relative;
  top: 40px;
  font-size: 30px;
}

footer a {
  position: relative;
  top: 40px;
  font-weight: bold;
}
